body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background: #01233B;
    color:white;
}

.container {
    max-width: 800px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

article {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 40px;
}

img {
max-width: 100%; /* Menyesuaikan lebar maksimum dengan lebar container */
    height: auto;    /* Menjaga proporsi asli gambar */
}
@media screen and (max-width: 600px) {
    article {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size:20px;
}
}
